.mar0 {
    margin: 0px;
}

.mar10 {
    margin: 10px;
}

.mar20 {
    margin: 20px;
}

.mar40 {
    margin: 40px;
}

.mar60 {
    margin: 60px;
}

.mar80 {
    margin: 80px;
}

//LEFT

.mar-left-16 {
    margin-left: 16px;
}

//RIGHT

.mar-right-6 {
    margin-right: 6px;
}

.mar-side-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mar-side-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.mar-side-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.auto-margin {
    margin-left: auto;
    margin-right: auto;
}

//TOP ONLY
.mar-top-5 {
    margin-top: 5px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-15 {
    margin-top: 15px;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-top-25 {
    margin-top: 25px;
}

.mar-top-65 {
    margin-top: 65px;
}

//BOTTOM ONLY
.mar-bottom-5 {
    margin-bottom: 5px;
}

.mar-bottom-10 {
    margin-bottom: 10px;
}

.mar-bottom-15 {
    margin-bottom: 15px;
}

.mar-bottom-20 {
    margin-bottom: 20px;
}

.mar-bottom-25 {
    margin-bottom: 25px;
}

.mar-bottom-35 {
    margin-bottom: 35px;
}

.mar-bottom-40 {
    margin-bottom: 40px;
}

.mar-bottom-50 {
    margin-bottom: 50px;
}

.mar-bottom-75 {
    margin-bottom: 75px;
}

// UP AND DOWN

.mar-top-bottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mar-top-bottom-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}



