.mar0 {
    margin: 0px;
}

.mar10 {
    margin: 10px;
}

.mar20 {
    margin: 20px;
}

.mar40 {
    margin: 40px;
}

.mar60 {
    margin: 60px;
}

.mar80 {
    margin: 80px;
}

.mar-side-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mar-side-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-25 {
    margin-top: 25px;
}

.mar-top-bottom-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

