.pad10 {
    padding: 10px;
}

.pad20 {
    padding: 20px;
}

.pad40 {
    padding: 40px;
}

//LEFT

.padding-left-15 {
    padding-left: 15px;
}

//RIGHT

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-21 {
    padding-right: 21px;
}

//BOTH LEFT AND RIGHT

.padding-side-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.padding-side-9 {
    padding-left: 9px;
    padding-right: 9px;
}

.padding-side-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-side-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-side-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-side-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-side-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.padding-side-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-14 {
    padding-top: 14px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-65 {
    padding-top: 65px;
}

//BOTTOM ONLY
.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-16 {
    padding-bottom: 16px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-31 {
    padding-bottom: 31px;
}

.padding-bottom-45 {
    padding-bottom: 45px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-85 {
    padding-bottom: 85px;
}

//TOP AND BOTTOM

.padding-top-bottom-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding-top-bottom-9 {
    padding-top: 9px;
    padding-bottom: 9px;
}

.padding-top-bottom-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-top-bottom-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-top-bottom-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-top-bottom-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.padding-top-bottom-65 {
    padding-top: 65px;
    padding-bottom: 65px;
}

.padding-top-bottom-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}