.pad10 {
    padding: 10px;
}

.pad20 {
    padding: 20px;
}

.pad40 {
    padding: 40px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-side-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-side-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-side-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-side-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.padding-top-14 {
    padding-top: 14px;
}

.padding-bottom-16 {
    padding-bottom: 16px;
}

.padding-top-bottom-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}