$imagePlaceholder: #91908f;
$buttonBorder: #1818d1;
$buttonShadow: #4747db;
$buttonText: #1818d1;
$cardBorder: #7c1bde;
$cardShadow:#8f1fff;
$dropdownNavbar: #18d1d1;

//NAVBAR

.nav-open {
    height: 360px;
    transition: 0.3s ease-in-out

}

.nav-closed {
    height: 0px;
    transition: height 0.3s ease-in-out;
}

.nav-background {
    background-color: $dropdownNavbar;
    margin-top: 15px;
}

.nav-dropdown {
    overflow: hidden;
}

//UNIVERSAL

.root {
    font-family: Barlow, sans-serif;
}

.body {
    width: 100%!important;
}

.site-font {
    font-family: Barlow, sans-serif!important;
}

//UNIVERSAL TEXT

.caption {
    color: $buttonBorder;
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button-padding {
    padding: 9px 35px 9px 35px;
}

//ANCHOR TAGS

a {
    color: black;

}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:active {
    color: black;
}

input[type="button"]:focus {
    outline: none;
    border: 1px solid $buttonBorder;
}

//UNIVERSAL BUTTON

.button-border-color {
    border: 2px solid $buttonBorder;

}

.overlay-button {
    border: 2px solid #ad1a3a;
    color: #ad1a3a
}

.overlay-text {
    color:#e0c7ca
}

.button-join-us-shadow {
    box-shadow: 3px 3px $buttonShadow;
    transition: box-shadow 0.3s ease-in-out;
}

.button-join-us-shadow-transition:hover {
    box-shadow: 2px 2px $buttonShadow;
    transition: box-shadow 0.3s ease-in-out;
}

.card-border-color {
    border: 1px solid $cardBorder;
}

.outer-card {
    background-color: white;
}

.inner-pic {
    margin: 10px 10px 10px 10px;
}

.large-card-shadow {
    box-shadow: 5px 5px 0px $cardShadow;
}

.text-border-color {
    color: $buttonBorder;
}

.section-header {
    margin-top: 15px;
}

.background-colored-block {
    background-color: $cardShadow;
}


//MAIN FAQ

.faq {
    bottom: 150px;
}

.faq-header {
    bottom: 30px;
}

//MAIN BACKGROUND IMAGE
.background-image-bottom {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.background-image-overlay {
    width: 100%;
    // height: 600px;
    background-color: black;
    opacity: 0.7;
}

// .background-image-text {
//     left: 40px;
// }