.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f17 {
    font-size: 17px;
}

.f25 {
    font-size: 25px;
}

.f36 {
    font-size: 36px;
}

.l17 {
    line-height: 17px;
}

.l18 {
    line-height: 18px;
}

.l20 {
    line-height: 20px;
}

.l21 {
    line-height: 21px;
}

.l29 {
    line-height: 29px;
}

.l35 {
    line-height: 35px;
}

.l48 {
    line-height: 48px;
}

.weight500 {
    font-weight: 500;
}

.weight600 {
    font-weight: 600;
}

.weight700 {
    font-weight: 700;
}

.text-white {
    color: white;
}

.text-3f-white {
    color: #fff;
}

.text-black {
    color: black;
}

.upper {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-spacing-1 {
    letter-spacing: 1px;
}

